/* See theme-colors.css for the general colors that are set according
 * to the prefers-color-scheme media query.
 */

body {
    --color-bg-body:    var(--color-bg-page-major);
    --color-fg-body:    var(--color-c0-page-major);

    --color-bg-section: var(--color-bg-page-minor);
    --color-fg-section: var(--color-c0-page-minor);

    --color-bg-control: var(--color-bg-tool-active1-awake0);
    --color-fg-control: var(--color-c0-tool-active1-awake0);

    --color-bg-error:   var(--color-bg-page-alert2);
    --color-fg-error:   var(--color-c1-page-alert2);
}

body {
    color: var(--color-fg-body);
    background: var(--color-bg-body);
}

.section {
    display: flex;
}

[data-section] {
    position: relative;
    min-width: max-content;
    margin: 2rem 0 0 1rem;
    padding: 1rem;
    height: max-content;
    border: 1px solid black;
    border-radius: 8px;
    color: var(--color-fg-section);
    background: var(--color-bg-section);
}

[data-section]::before {
    position: absolute;
    content: attr(data-section);
    left: 0.8rem;
    top: -0.7rem;
    padding: 0 1rem;
    border: 1px solid #aaa;
    border-radius: 4px;
    color: var(--color-fg-section);
    background: var(--color-bg-section);
    font-style: italic;
}

[data-section] [data-setting] label {
    display: inline-block;
    width: 9rem;
    text-align: right;
    font-family: sans-serif;
    font-size: small;
}

[data-section] [data-setting] input,
[data-section] [data-setting] select {
    color: var(--color-fg-control);
    background: var(--color-bg-control);
    margin: 0.25rem;
}

[data-section] [data-setting] input[type="text"] {
    width: 5rem;
}

.warning {
    display: none;
    width: 18rem;
    margin: 2rem 0 0 1rem;
    padding: 1rem;
    height: max-content;
    border: 1px solid black;
    border-radius: 8px;
    color: var(--color-fg-warning);
    background: var(--color-bg-warning);
}
.warning p:first-child {
    margin-block-start: 0;
}
.warning p:last-child {
    margin-block-end: 0;
}
.show-emacs-warning .emacs-warning {
    display: block;
}

.error-message {
    display: none;
    margin: 2rem 0 0 1rem;
    padding: 0.5rem;
    border-radius: 5pt;
    background-color: var(--color-bg-error);
    color: var(--color-fg-error);
    height: fit-content;
}
.error-message.active {
    display: block;
}
