/* See theme-colors.css for the general colors that are set according
 * to the prefers-color-scheme media query.
 */

#message {
    display: none;
    padding: 0.5rem 0 0.5rem 0.75rem;
    border: 7px double darkorange;
    background-color: cornsilk;
}

#message.active {
    display: block;
}

#message button {
    margin: 0.5rem 0.5rem 0.5rem 0;
}

#message_text {
    margin: 0.5rem 0.5rem 0.5rem 0;
}

#message_cancel {
    display: none;
}
#message.confirm #message_cancel {
    display: inline;
}

#message_ok {
}

#message_event_blocker {
    display: none;
    position: absolute;
    background-color: #80808080;
}
#message_event_blocker.active {
    display: block;
}
